In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import os
from dotenv import load_dotenv
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Load data from sql
def load_data(query: str) -> pd.DataFrame:
    # Load environment variables from .env file
    env_path = os.path.join("..", ".env")
    load_dotenv(dotenv_path=env_path)

    # Retrieve database connection parameters
    DB_USER = os.getenv("DB_USER")
    DB_PASSWORD = os.getenv("DB_PASSWORD")
    DB_HOST = os.getenv("DB_HOST")
    DB_PORT = os.getenv("DB_PORT")
    DB_NAME = os.getenv("DB_NAME")

    # Use psycopg2 directly
    conn = psycopg2.connect(
        host=DB_HOST,
        port=DB_PORT,
        database=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD
    )
    
    try:
        df = pd.read_sql_query(query, conn)
        return df
    finally:
        conn.close()
    
# Example usage
query = "SELECT * FROM silver.pharmacy_sales;"

In [3]:
pd.set_option('display.max_columns', None)
df = load_data(query=query)
df.head()

,distributor,customer_name,city,country,latitude,longitude,channel,sub_channel,product_name,product_class,quantity,price,sales,month,year,sales_rep_name,manager,sales_team
0,Beier,"Zieme, Doyle and Kunze",Lublin,Poland,51.2333,22.5667,Hospital,Private,Kinenadryl,Antipiretics,3.0,782.0,2346.0,August,2018,Morris Garcia,Tracy Banks,Bravo
1,Beier,"Heathcote, Grant and Witting Pharm",Bielsko-Biała,Poland,49.8225,19.0444,Pharmacy,Institution,Abobozolid,Antimalarial,100.0,75.0,7500.0,August,2018,Abigail Thompson,Tracy Banks,Bravo
2,Beier,Lockman-Welch Pharm,Bytom,Poland,50.3470,18.9230,Hospital,Government,Aggretisol,Antimalarial,25.0,262.0,6550.0,August,2018,Sheila Stones,Britanny Bold,Delta
3,Beier,Hansen Group Pharm,Gryfów Śląski,Poland,51.0308,15.4202,Hospital,Private,Afinitasol,Antipiretics,20.0,286.0,5720.0,August,2018,Mary Gerrard,Britanny Bold,Delta
4,Beier,Rutherford and Sons,Gdynia,Poland,54.5189,18.5319,Pharmacy,Retail,Rebedase Aplencor,Mood Stabilizers,8.0,180.0,1440.0,September,2018,Anne Wu,Britanny Bold,Delta